body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    color: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Add margin to create space between header and game board */
}

#header {
    display: flex;
    align-items: center;
    justify-content: center; 
}

#header h1 {
    margin-right: 20px; 
}

#header img {
    max-width: 300px; 
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}

.game-button {
    align-items: center;
    margin: 0 5px; 
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #759a77;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game-button:hover {
    background-color: #5dc462;
}

/* Game container styles */
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); /* Adjust height to accommodate header and buttons */
}

/* Game board styles */
#game-board {
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    background-color: #ddd;
    border: 1px solid #333;
}

.cell {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #0f0; 
}

.food {
    color: transparent; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text x="0" y="80" font-size="90" fill="red">🍎</text></svg>');
    background-size: contain; 
    background-repeat: no-repeat; 
}
